*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5ebe1;
    font-family: 'Playfair Display', sans-serif;
}

.nav{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.logo-container{
    height: 100%;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}
.logo-container:hover{
    cursor:pointer;
}

.logo-img{
    height: auto;
    width: 65px;
}

.logo-txt{
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    color: #689e83;
    font-size: 1.7rem;
    margin-top: 6%;
}


.main-container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 1%;
    gap: 20%;
}
.icons-container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.nav-btn{
    height: 100%;
    width: 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #e5ebe1;
    justify-content: center;
    margin-top: 10px;
    color: #689e83;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn:hover{
    filter: opacity(0.7);
}

.nav-icon{
    height: 100%;
    width: 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-color: #e5ebe1;
    color: #689e83;
    border: 0;
    margin-top: 10px;
    cursor: pointer;

    transition: 0.2s;
}
.nav-icon:hover{
    transform: scale(1.1);
    filter: opacity(0.7);
}

.icon-img{
    height: auto;
    width: 30px;
}
.cart-icon-img{
    height: auto;
    width: 33px;
}
.login-icon-img{
    height: auto;
    width: 35px;
}

.client-data-container{
    display: flex;
    flex-direction: column;
    height: 23dvh; 
    width: 94dvw;
    margin-top: 5%;
    margin-left: 3%;
}
.data-text{
    height: 20%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1%;
}
.client-data{
    height: 80%;
    width: 70%;
    padding: 1%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    background-color: #689e83;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.client-name{
    height: 30%;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.client-data-info{
    height: 70%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.client-cpf{
    height: 100%;
    width: 33%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 3%;
}
.client-rg{
    height: 100%;
    width: 33%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.client-birth{
    height: 100%;
    width: 33%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 3%;
}


.product-info-container{
    display: flex;
    flex-direction: column;
    height: 25dvh; 
    width: 94dvw;
    margin-top: 5%;
    margin-left: 3%;
}
.product-text{
    flex: 0 0 12;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1%;
}

.product-table{
    flex: 1;
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: "Montserrat", sans-serif;
}

.product-table td{
    text-align: center;
    vertical-align: middle;
}

.product-table tr:first-child {
    height: 10%;
}

.product-table tr:nth-child(2) td:first-child {
    height: calc(100% - 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#product-img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}