body{
    background-color: #e5ebe1;
}
    
.brand{
    color: #689e83;
}

.search-input {
    background-color: #689e83;
    color: white;
}

nav a{
    color: #689e83;
}

main{
    width: 100%;
    margin-top: 60px;
}

.checkout p{
    font-size: 20px;
    font-weight: 600;
    color: #015D20;
}

.checkout{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}


#end-btn{
    height: 35px;
    width: 250px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: .3s;
}

#end-btn:hover {
    background-color: rgb(226, 226, 226);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: white;
}