main{
    height: 100dvh;
    width: 100%;
    margin-top: 60px;
}

.checkout p{
    font-size: 20px;
    font-weight: 600;
    color: #015D20;
}

.checkout{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}


#end-btn{
    height: 35px;
    width: 250px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
}