@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: #e5ebe1;
}

.brand{
    color: #689e83;
}

nav a{
    color: #689e83;
}

#main-data{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

button{
    cursor: pointer;
}

.data-container{
    padding: 3%;
}

.container{
    height: 200px;
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #689e83;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .title{
    font-weight: 600;
}

.title{
    font-size: 1.2rem;
    font-weight: 500;
}

.title-list{
    font-size: 1.2rem;
    font-weight: 500;
}

.title-address{
    font-size: 1.2rem;
    font-weight: 500;
}

.data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.client-data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    gap: 30%;
}

.client-data-text{
    font-weight: 600;
}

.data-text{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2%;
}

.long-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-container-mobile{
    height: 250px;
    width: 100%;
    padding: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}

.item-container-desktop{
    display: none;
}

.item-img-name{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 7%;
    gap: 5%;
}

#item-img{
    height: auto;
    width: 110px;
}

#item-name{
    font-size: 1.2em;
}

.item-info-container{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.item-info{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25%;
    font-size: 1.1em;
}

.item-value{
    color: #689e83;
    font-weight: 600;
}

.address-container-mobile{
    height: 250px;
    width: 100%;
    padding: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}

.address-container-desktop{
    display: none;
}

.address-container{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.address-text{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18%;
    font-size: 1rem;
}

.address-input-container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15%;
}

.address-input{
    height: 25px;
    width: 100%;
    border: none;
    background-color: #d9d9d9;
    outline: none;
    padding-left: 3%;
}

.resume-main-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.payment-item-container{
    height: 150px;
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
    gap: 25px;
}

.payment-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.payment-choice{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 40%;
}

.radio-container{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.radio-style{
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-right: 10px;

    transition: all 0.2s ease;
}

.radio-style:checked{
    border: 2px solid #689e83;
    background-color: #689e83;
}

.resume-container{
    padding: 3%;
}

.resume{
    height: 240px;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: #689e83;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subtotal-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.subtotal-text{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.value-info{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20%;
}

.end-buy{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-btn{
    height: 35px;
    width: 300px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    transition: .3s;
}

#buy-btn:hover {
    background-color: #d9d9d9;
}

footer{
    background-color: white;
}

/*--------------------------------------------------------- MEDIA QUERY -----------------------------------------------------------*/
/*---------------------------------------------------------  700px -----------------------------------------------------------*/

@media(min-width:700px){
    .container{
        gap: 30%;
    }

    .data{
        flex-direction: row;
    }

    .client-data{
        gap: 50%;
    }

    .item-container-mobile{
        display: none;
    }

    .item-container-desktop{
        height: 250px;
        width: 100%;
        padding: 3%;
        padding-top: 0%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .title-list{
        height: 15%;
        width: 100%;
    }

    .item-table{
        text-align: center;
    }

    .item-table tr:nth-child(2) td:nth-child(3){
        color: #689e83;
        font-weight: 600;
    }
    
    .item-table tr:nth-child(2) td:nth-child(4){
        color: #689e83;
        font-weight: 600;
    }
    
    .item-table tr:nth-child(2) td:nth-child(5){
        color: #689e83;
        font-weight: 600;
    }
    
    .item-table td:first-child{
        width: 150px;
    }
    #item-img{
        height: auto;
        width: 150px;
    }

    .address-container-mobile{
        display: none;
    }

    .address-container-desktop{
        height: 250px;
        width: 100%;
        padding: 3%;
        padding-top: 0%;
        display: flex;
        flex-direction: column;
    }

    .address-table{
        margin-top: 5%;
    }

    .address-table tr{
        height: 70px;
    }

    .address-table td:nth-child(1){
        width: 13%;
    }

    .address-table td:nth-child(2){
        width: 37%;
    }
    .address-table td:nth-child(5){
        width: 37%;
    }

    .address-table td:nth-child(4){
        padding-left: 3%;
        width: 13%;
    }

    .resume-main-container{
        flex-direction: row;
    }

    .payment-item-container{
        height: 200px;
        width: 40%;
    }
    
    .resume-container{
        width: 60%;
    }

}

/*---------------------------------------------------------  1080px -----------------------------------------------------------*/

@media(min-width:1080px){
    .container{
        padding: 3%;
        padding-top: 2%;
        gap: 30%;
        width: 60%;
        margin-bottom: 0%;
    }

    .data{
        flex-direction: row;
    }

    .client-data{
        gap: 50%;
    }

    .item-container-desktop{
        width: 60%;
    }

    .item-img-name{
        margin-top: 7%;
    }

    .item-info-container{
        margin-top: 4%;
    }
    
    .item-info{
        gap: 35%;
    }

    .address-container-desktop{
        width: 60%;
    }
    
    .address-table{
        margin-top: 1%;
    }

    .address-table tr{
        height: 100px;
    }
    
    .payment-item-container{
        width: 40%;
        height: 250px;
    }
    
    .resume-container{
        width: 40%;
    }
}

/*---------------------------------------------------------  1920px -----------------------------------------------------------*/

@media(min-width:1920px){

    .data-container{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .container{
        padding: 2%;
        padding-top: 1%;
        width: 50%;
        margin-bottom: 1%;
    }

    .title-address{
        width: 50%;
    }
    
    .item-table{
        width: 70%;
    }

    .item-container-desktop{
        width: 100%;
        padding-left: 26%;
        padding-right: 25%;
        gap: 20%;
    }

    .address-container{
        width: 50%;
        margin: 0%;
    }

    .address-container-desktop{
        width: 100%;
        padding-left: 26%;
        padding-right: 25%;
    }

    .address-table{
        width: 80%;
    }

    .address-table td:nth-child(1){
        width: 8%;
    }

    .address-table td:nth-child(2){
        width: 40%;
    }
    .address-table td:nth-child(5){
        width: 40%;
    }

    .address-table td:nth-child(4){
        padding-left: 3%;
        width: 12%;
    }

    .address-input{
        padding-left: 2%;
    }

    .resume-main-container{
        justify-content: center;
        margin: 0%;
        padding: 0%;
    }

    .payment-item-container{
        height: 240px;
        width: 20%;
        padding: 40px;
        padding-left: 1%
    }
    
    .payment-container{
        height: 100%;
    }
    
    .resume-container{
        width: 30%;
        padding-right: 0%;
    }
}
