@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    user-select: none;
}

body {
    height: 100vh;
    background-color: #E5EBE1;
}

/*-------header-------*/

.brand {
    color: #689e83;
}

li {
    color: #689e83;
}

li:hover {
    color: #4d8066;
}

.search-input {
    background-color: #689e83;
    color: white;
}

/*-------main-------*/

.bg-plants {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    overflow: hidden; 
}

.decoration {
    position: absolute;
    width: 900px;
    top: -150px;
    left: -350px;
    transform: rotate(20deg);
    opacity: 0.5;
}

.decoration2 {
    position: absolute;
    width: 900px;
    top: -200px;
    right: -350px;
    transform: rotate(200deg);
    opacity: 0.5;
}

main {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

main h1 {
    font-size: 26px;
    color: #015D20;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: 600;
}

input {
    width: 300px;
    height: 28px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
}

.error {
    display: none;
    text-align: center;
    color: rgb(216, 108, 108);
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.btn-content button {
    width: 140px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.btn-content button:hover {
    background-color: rgb(221, 221, 221);
}

.message {
    display: none;
    text-align: center;
    color: #7a8d84;
}

/*-----footer------*/

footer {
    background-color: #E0E0E0;
    position: absolute;
    bottom: 0;
}