@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    user-select: none;
}

body {
    height: 100vh;
    background-color: #689E83;
}

/*-------header-------*/

.brand {
    color: #ffffff;
}

li {
    color: #ffffff;
}

li:hover {
    color: rgb(206, 206, 206);
}

/*-------main-------*/

.bg-plants {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    overflow: hidden; 
}

.decoration {
    position: absolute;
    width: 900px;
    bottom: -700px;
    right: -300px;
    transform: rotate(-60deg);
    opacity: 0.5;
    z-index: -5;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    padding: 60px 140px;
    gap: 40px;
}

main .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title h3 {
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-list{
    font-size: 1.2rem;
    font-weight: 500;
}

.info-content {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
}

.info-content input {
    width: 250px;
    height: 30px;
    padding: 0 5px;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid white;
}

.info-content img {
    cursor: pointer;
    margin-left: 5px;
    transition: .3s;
}

.info-content img:hover {
    transform: scale(1.1);
}

main h3 {
    font-weight: 600;
    color: white;
}

.orders-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.item-table{
    text-align: center;
    width: 90%;
    margin-top: 15px;
    margin-right: 30px;
}

#item-img{
    height: auto;
    width: 130px;
}

main button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px -1px, rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
    transition: .3s;
}

main button:hover {
    background-color: #E0E0E0;
}

/*-----footer------*/

footer {
    background-color: #E0E0E0;
}