@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

.mobile-header{
    height: 60px;
    width: 100%;
    top:-1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 1rem;
    background-color: #e5ebe1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.desktop-header{
    display: none;
}

nav{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

#nav-img{
    height: auto;
    width: 2rem;
}

#logo-img{
    height: auto;
    width: 2.8rem;
    margin-bottom: 9px;
}

.header-buttons{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-button-icon{
    display: none;
}

.header-button{
    height: 100%;
    width: 40%;
    border: none;
    background-color: #e5ebe1;
    font-family: "Montserrat", sans-serif;
    
    transition: 0.2s;
}

#search-img{
    margin-top: 5px;
    height: auto;
    width: 1.7rem;
}

#shop-img{
    height: auto;
    width: 2rem;
}

#login-img{
    height: auto;
    width: 2rem;
}

/*--------------------------------------------------------- HEADER -----------------------------------------------------------*/

footer{
    height: auto;
    width: 100%;
    padding: 2% 3%;
}

.logo-footer{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 1rem;
    margin-bottom: 20px;
    cursor: pointer;
    gap: 3px;
}

.logo-footer a {
    display: flex;
    align-items: center; 
    gap: 3px;
    color: black; 
}

.logo-footer h3 {
    font-family: "Playfair Display";
    letter-spacing: .4px;
    font-size: 19px;
}

#logo-img-footer{
    height: auto;
    width: 2rem;
    margin-bottom: 5px;
}

.footer-infos {
    display: flex;
    gap: 200px;
}

.address-footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    color: black;
    font-size: 1rem;
    margin-bottom: 20px;
    gap: 10px;
}

.icon-footer-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .title {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 17px;
}

.icon-footer{
    height: auto;
    width: 30px;
    cursor: pointer;
    transition: .3s;
}

.icon-footer:hover {
    transform: scale(1.1);
}

footer hr{
    margin-top: 5px;
}

#copy-mobile{
    display: flex;
    margin-top: 30px;
}

#copy-desktop{
    display: none;
    margin-top: 30px;
}

/*--------------------------------------------------------- MEDIA QUERY -----------------------------------------------------------*/
/*---------------------------------------------------------  700px -----------------------------------------------------------*/

@media(min-width:700px){
    #copy-mobile{
        display: none;
    }

    #copy-desktop{
        display: flex;
    }

    .footer-infos{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    
    .address-footer{
        height: 100%;
        width: 40%;
    }

    #support-num{
        align-items: center;
        width: 40%;
    }

    #follow-icon{
        align-items: center;
        width: 20%;
    }
}

/*---------------------------------------------------------  1080px -----------------------------------------------------------*/

@media(min-width:1080px) {

    .mobile-header{
        display: none;
    }

    .desktop-header{
        display: flex;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        list-style: none;
        text-decoration: none;
    }

    header {
        height: 65px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 50px;
        z-index: 2;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    .logo img {
        height: 40px;
    }

    .brand {
        font-family: "Playfair Display";
        font-size: 18px;
        letter-spacing: .4px;
        font-weight: 500;
        margin-top: 5px;
    }

    ul {
        display: flex;
        gap: 300px;
    }

    li {
        font-size: 17px;
        cursor: pointer;
        font-weight: 500;
        transition: .2s;
    }

    .icons {
        display: flex;
        gap: 50px;
    }

    .icons img {
        height: 25px;
        width: 25px;
        transition: .2s;
        cursor: pointer;

    }

    .icons img:hover {
        transform: scale(1.1);
    }

    .search-input {
        width: 250px;
        height: 30px;
        position: absolute;
        top: 50px;
        right: 200px;
        border: none;
        border-radius: 10px;
        padding: 0 10px;
        outline: none;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }

    .active {
        pointer-events: auto;
        opacity: 1;
    }

    .footer-infos{
        gap: 15%;
    }

    .address-footer{
        width: 33%;
    }

    #support-num{
        width: 33%;
    }
    #follow-icon{
        align-items: center;
        width: 33%;
    } 
}